/*
    Name: Parth Dalwadi
    File:style.css
    Date:10 June, 2026
    Description:This file contains letter which is the first part of assignment3.
*/
html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}