/*
  Name: Parth Dalwadi
  File: style.css
  Date: 29 July, 2026
  Description: This file contains the styles for Part 4 of Assignment 4.
*/

html,
body {
  margin: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: 5px;
  right: 5px;
  color: transparent;
  text-shadow: 0 0 4px white;
}

canvas {
  display: block;
}